@media only screen and (min-width: 768px) {
  :root {
    font-size: 15px !important;
  }
  p,
  li,
  span {
    font-size: 15px !important;
  }
  .small-m {
    font-size: 95%;
  }
  .grid-list-1 {
    display: grid;
    grid-template-areas: "aa-1 a1 a2 a3 a4 aa-2";
    align-items: center;
  }
  .grid-arrow-1 {
    grid-area: aa-1;
  }
  .grid-arrow-2 {
    grid-area: aa-2;
  }
  .icon-input {
    top: 15px;
    left: 8px;
  }
  .grid-cat {
    display: grid;
    column-gap: 25px;
    grid-template-columns: 5% 1fr 2fr 5%;
    grid-template-areas: "c1 c2 c3 c4";
  }
  .grid-cat-1 {
    grid-area: c1;
  }
  .grid-cat-2 {
    grid-area: c2;
  }
  .grid-cat-3 {
    grid-area: c3;
  }
  .grid-cat-4 {
    grid-area: c4;
  }
}
