* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

:root {
  --red: #d35266;
  --gray: #888;
  --black: #383838;
}

ul {
  list-style-type: none;
}
button,
a,
i {
  cursor: pointer;
}
a {
  text-decoration: none;
  transition: 0.3s;
  font-size: 14px;
}

a:hover {
  opacity: 0.7;
  text-decoration: none;
}

.med-manual {
  font-size: 14px;
}

p,
.small-manual {
  font-size: 10px;
}
.var-pink {
  color: #e52763;
}
.var-orange {
  color: #e48141;
}
.var-green {
  color: #18a256;
}
.var-red {
  color: var(--red) !important;
}

.var-gray {
  color: var(--gray) !important;
}

.var-black {
  color: var(--black) !important;
}

.var-bg-red {
  background-color: var(--red) !important;
}

.var-bg-gray {
  background-color: var(--gray) !important;
}

.var-bg-black {
  background-color: var(--black) !important;
}

.navbar {
  background-color: var(--black);
}

.rad-0 {
  border-radius: 0 !important;
}

.logo {
  line-height: 10px;
}

.grid-list-1 {
  display: grid;
  grid-gap: 20px 10px;
  width: 100%;
  grid-template-areas:
    "a1 a2"
    "a3 a4";
}

.grid-item-1 {
  grid-area: a1;
}
.card-img-top {
  height: 180px;
}
.grid-item-2 {
  grid-area: a2;
}

.grid-item-3 {
  grid-area: a3;
}

.grid-item-4 {
  grid-area: a4;
}

.categories hr {
  border-color: var(--red);
}

.category-grid-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.search-grid {
  display: grid;
}

.search-img-bg {
  background: url(https://placekitten.com/300/145) center center / cover
    no-repeat;
  height: 200px;
  position: relative;
}

.sides-icons {
  position: absolute;
  bottom: 0;
  right: 0;
}

.milk {
  background: url(https://img.wallpapersafari.com/desktop/1366/768/5/43/hTVely.jpg)
    center center / cover no-repeat;
}
.flex-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.flex-logo {
  display: flex;
  margin: 10px 0;
}
